<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>传值调用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>传地址调用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>函数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>变量作用域.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>引用调用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>数组调用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>重载函数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5101D1C914AFE2FF00C41011</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5101D1D914AFE33800C41011</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5101D1E614AFE4D400C41011</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5101D1F314AFE6AF00C41011</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5101D20014B050F600C41011</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5101D20D14B057C300C41011</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5101D21A1ABB008800C41011</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
