<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>函数指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>成员函数指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>成员函数指针的应用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>成员变量指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>指针函数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>静态成员指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>515B84AE1ABB985B00F77634</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>515B84BE1ABB98AD00F77634</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51675CA51ABB08DD00E2FC1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51675CB51ABB155000E2FC1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>517B375E1ABC640A00C6B160</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51A32AB41ABC487F008510BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51C68BB21ABD8C7E0024D36D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
